/*
Hoja de estilos para HTML5_p1.html
No es necesario para el ejercicio, solo fines de estudio
*/

body {
    background-color: rgba(233, 150, 122, 0.439);
    padding: 25px;
    margin: 0;
    text-align: center;
}

form {
    position: relative;
    background-color: rgba(233, 150, 122, 0.726);
    width: 50%;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    justify-content: center;

    div > * {
        margin : 10px;
    }

    div div {
        margin: 10px auto;
    }
}





